@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.contactUs_container {
  width: 100%;
  min-height: 100vh;
  @include flexbox (column, center, center);

  gap: 3rem;
  padding-top: 100px;

  @media (max-width: 768px) {
    padding-top: 0px;
  }
}

.contactUs_wrapper {
  background: linear-gradient(135deg, rgb(206, 242, 204), rgb(245, 246, 244), rgb(238, 243, 237));
}
