@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.services_cards_container {
  @include flexbox(row, center, center);
  padding: clamp(10px, 5vw, 10rem);
  width: 100%;
  gap: 3rem;
  flex-wrap: wrap;
}

.service_item {
  flex: 1 1 300px;
  max-width: 500px;
  border-radius: 10px;
  @include flexbox(column, center, center);
  flex-wrap: wrap;
  padding: 0;
  position: relative;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  height: auto;

  @media (max-width: 768px) {
    flex: 1 1 100%;
    max-width: 90%;
  }

  &__image {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    opacity: 0.9;
  }

  h3 {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 70%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $green-background;
    background-color: rgba($secondary-color, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;

    @media (max-width: 600px) {
      top: 10%;
      width: 90%;
      font-size: 1rem;
    }
  }

  p {
    padding: 20px;
    @include primary-font(400);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;

    @media (max-width: 600px) {
      font-size: 0.9rem;
    }
  }
}