.service_card {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 4rem;
}

.service_card__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7) blur(1px);
  z-index: 1;
  transition: transform 0.4s ease-in-out;
}

.service_card__content {
  margin-top: 200px;
  position: relative;
  z-index: 2;
  color: white;
  text-align: left;
  padding: 2.2rem 3.7rem;
  max-width: 58%;
  /* background: rgba(255, 255, 255, 0.3); */
  border-radius: 20px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.8);
  transform: translateY(60px);
  opacity: 0;
  animation: slideIn 0.8s ease-out forwards;

  background-image: linear-gradient(45deg, rgba(187, 222, 238, 0.2), rgba(230, 236, 236, 0.3));
}

.service_card__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 17, 16, 0.69);
  mix-blend-mode: screen;
  border-radius: 20px;
  pointer-events: none;
  z-index: 1;
}

.service_card__content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
  text-transform: capitalize; 
  color: #91ceee;
  color: #a1cfe7;
 
  animation: fadeIn 0.6s ease-out forwards;
  opacity: 0;
}

.service_card__content p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2.5rem;
  opacity: 0.85;
  max-width: 95%;
  margin: 1rem auto;
  font-weight: 300;
  color: #eff6ef;
  animation: fadeIn 0.6s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
 
}

.service_card__icons {
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.service_card:hover .service_card__background {
  transform: scale(1.1);
}

.service_card:hover .service_card__content {
  box-shadow: 0px 0px 15px rgba(66, 165, 245, 0.4);
  transition: box-shadow 0.3s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .service_card {
    margin-top: 0px;
    padding: 1.5rem;
    height: 100%;
    position: relative;

  }


  .service_card__content {
    margin-top: -30px;
    padding: 1.3rem;
    max-width: 90%;


    h3 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      /* color: #81b2cc; */
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 0.3px;
     
    }

    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-50%, -50%);
 /*  background: rgba(14, 10, 10, 0.32);  */
     border-radius: 20px; 
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5); 
  }

  .service_card__background {
    margin-top: 0;
    background-size: cover;
    background-position: 75% 30%;
    background-repeat: no-repeat;
    height: 100%;
    filter: brightness(0.65) ;
  }

  .service_card__icons {
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
  }
}

@media (max-width: 385px) {
  .service_card__content {
   
      

    h3 {
      font-size: 1.2rem;}

    p {
      font-size: 0.85rem;
    }

    

  }

  .service_card__icons {
    top: 77%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
  }
}


.service_card {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 4rem;
}

.service_card__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7) blur(1px);
  z-index: 1;
  transition: transform 0.4s ease-in-out;
}

.service_card__content {
  margin-top: 200px;
  position: relative;
  z-index: 2;
  color: white;
  text-align: left;
  padding: 2.2rem 3.7rem;
  max-width: 58%;
  /* background: rgba(255, 255, 255, 0.3); */
  border-radius: 20px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.8);
  transform: translateY(60px);
  opacity: 0;
  animation: slideIn 0.8s ease-out forwards;

  background-image: linear-gradient(45deg, rgba(187, 222, 238, 0.2), rgba(230, 236, 236, 0.3));
}

.service_card__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 17, 16, 0.69);
  mix-blend-mode: screen;
  border-radius: 20px;
  pointer-events: none;
  z-index: 1;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  color: #91ceee;
  animation: fadeIn 0.6s ease-out forwards;
  opacity: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2.5rem;
  opacity: 0.85;
  max-width: 95%;
  margin: 1rem auto;
  font-weight: 300;
  color: #eff6ef;
  animation: fadeIn 0.6s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
  font-weight: 400;
}

.service_card__icons {
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.service_card:hover .service_card__background {
  transform: scale(1.1);
}

.service_card:hover .service_card__content {
  box-shadow: 0px 0px 15px rgba(66, 165, 245, 0.4);
  transition: box-shadow 0.3s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .service_card {
    margin-top: 0px;
    padding: 1.5rem;
    height: 100%;
    position: relative;

  }


  .service_card__content {
    margin-top: -30px;
    padding: 1.3rem;
    max-width: 90%;


    h3 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      /* color: #81b2cc; */
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 0.3px;
     
    }

    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-50%, -50%);
 /*  background: rgba(14, 10, 10, 0.32);  */
     border-radius: 20px; 
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5); 
    z-index: 10;
  }

  .service_card__background {
    margin-top: 0;
    background-size: cover;
    background-position: 75% 30%;
    background-repeat: no-repeat;
    height: 100%;
    filter: brightness(0.65) ;
    
  }

  .service_card__icons {
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
  }
}

@media (max-width: 385px) {
  .service_card__content {
   
      

    h3 {
      font-size: 1.2rem;}

    p {
      font-size: 0.85rem;
    }

    

  }

  .service_card__icons {
    top: 77%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
  }
}


.logoIcon {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;  /* Opacità più bassa per l'effetto di sottofondo */
  filter: brightness(1) blur(2px);
  
  pointer-events: none;  /* Impedisce che l'elemento interferisca con i clic */
  transition: opacity 0.5s ease-in-out; 
  width: 180%;
  @media (max-width: 768px) { 
    width: 380%;
    top: 0%;
    opacity: 0.25;
  }

}