@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.highlighted {
  color: #91ceee;
    font-weight: bold; 
    text-align: center;
    transition: color 0.5s ease-in-out;
  }