$primary-color: #24992f;
$secondary-color: #dbd714;
$background-color: #c6c5c5;
$text-black: #000000;
$highlight-color: #43753a;
$green-background: #0f4007;
$text-green: #0B770B;
$button-hover-background: #c6c5c5;

$font-primary: "Montserrat", sans-serif;

$font-bold: 700;
$font-medium: 500;
