$primary-color: #045D17;
$secondary-color: #dbd714;
$background-color: transparent;
$text-blue: #2596be;
$highlight-color: #43753a;
$green-background: #045D17;
$text-green: #045D17;
$button-hover-background: #2596be;

$font-primary: "Poppins", sans-serif;

$font-bold: 700;
$font-medium: 500;
