@use "./variables" as *;
@use "./mixins" as *;
@use "./reset" as *;

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 100vh; */
  height: 80vh;
}

.main-content {
  background: linear-gradient(135deg, rgb(179, 242, 176), rgb(187, 201, 185), rgb(238, 243, 237));

  @media (max-width: 768px) {
    padding-top: 100px;
  }
}
