@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home_container {
  width: 100%;
  @include flexbox(column, center, center);
  letter-spacing: 1.9;
  
  

  .transition_container {
    width: 50%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 700px;
    text-align: center;
    @include flexbox(column, center, center);
    gap: 2rem;
    border-radius: 5px;
    padding: 0;
    position: fixed;
    
   

    .dynamic_title {
      color: $background-color;
      font-size: 1.6rem;
      @include flexbox(column, center, center);
      letter-spacing: 1.2px;
   
    }

    .home_title {
      font-size: 2rem;
      color: yellow;
      letter-spacing: 1.2px;
    }
  }

  .home_CTA_box {
    @include flexbox(row, center, center);
    width: 100%;
    gap: 1rem;
    position: absolute;
    top: 65%;
    z-index: 9;
    position: fixed;
  }


}


@media (max-width: 545px) {
  .home_container  .home_CTA_box {
    @include flexbox(column, center, center);
   top: 75%;
  } 

  .home_container .transition_container .home_title {
    font-size: 1.2rem;
    color: yellow;
    padding-top: 50px;
  
  }

  .home_container .transition_container .dynamic_title {
    font-size: 1rem;
  }
}
