

.mambyLy_logo {
    height: auto;
    &.small {
        width: 16%;
      }
    
      &.medium {
        width: 27%;
      }
    
      &.large {
        width: 120px;
      }
}

@media (max-width: 1024px) {
.mambyLy_logo {
  &.medium {
    width: 50%;
  }
  }
}