@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.cta-button {
    transform: translateY(-200px);
    width: 100%;
    min-width: 300px;
    height: auto;
    padding: 16px;
    font-size: 1rem;
    @include primary-font(900);
    border-radius: 5px;
    cursor: pointer;

    
}

