@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.microservice_card {
   @include flexbox(column, center, center);
   gap: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  

    &--transport {
      background-color: #f0f8ff;
      background: linear-gradient(to bottom, #f0f8ff, #ffffff);
      background: linear-gradient(to bottom, #f0f8ff, #d6e6ff);
      background: radial-gradient(circle, #dbe7f1, #ffffff);
      border: 1px solid #3b82f6; 
      
    }
  
    &--digital {
      background-color: #f9fafb;
      background: radial-gradient(circle, #eaefd4, #ffffff);
      border: 1px solid #10b981; 
    }


  
    
    &:hover {
     
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  
   &__image {
      width: 100%;
      height: auto;
      max-height: 150px;
      object-fit: cover;
      border-radius: 4px;
      margin-bottom: 15px;
    }

    &__button {
        background-color: $secondary-color;
        color: $green-background;
        padding: 8px;
        width: 100%;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        align-self: flex-end;
        cursor: pointer;
        

        &:hover {
            background-color:$button-hover-background;
            color: $background-color;
            scale: 1.1;
        }

    }
  
    h4 {
      font-size: 18px;
      color: #333;
      color: $green-background;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 14px;
      color: #666;
      line-height: 1.5;
    }
  }
  