@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.admin_link_icon {
  max-width: 26px;
  position: absolute;
  right: 100px;
  bottom: 0;
}

@media (max-width: 545px) {
  .admin_link_icon {
    max-width: 18px;
    right: 10px;
    bottom: 180px;
  }
}
