@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  @include flexbox(row, flex-end, center);
  width: 100vw;
 padding: 1rem 2rem;
border-bottom: solid 1px green;
position: fixed;
background-color: rgba($background-color, 0.9);
z-index: 10;
}

.logo_container {
   width: 50%;
   
}
