@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
  &__list {
    @include flexbox(row, center, center);
    margin-bottom: 1.3rem;

    @media (min-width: 2500px) {
      font-size: 1.85rem;
      padding: 0px 5rem;
    }

    &__item {
      @include primary-font(600);
      color: $text-green;
      font-size: 1.25rem;
      padding: 0 16px;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      text-align: center;

      @media (max-width: 1300px) {
        font-size: 1.02rem;
      }

      @media (min-width: 2500px) {
        font-size: 1.95rem;
        padding: 0 2rem;
      }
    }

    &__item:hover {
      color: $green-background;
      scale: 1.1;
    }

    .navbar_link--active {
      color: $text-blue;
    }
  }
}
