@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
  &__list {
    @include flexbox(row, center, center);
    margin-bottom: 1.3rem;

    &__item {
      @include primary-font(700);
      color: $text-green;
      font-size: 0.6rem;
      padding: 0 16px;
   
      text-align: center;
    }

    &__item:hover {
        color: $secondary-color;
    }
  }
}
