@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.carousel-container .slide-text {
  padding: 0rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.MuiBox-root {
  padding: 0;
}

.css-vrk4dv {
  padding: 0;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.slide-icon {
  max-width: 100%;
  height: auto;

  @media (max-width: 768px) {
    color: rgb(5, 10, 10);
    height: 80px;
    
  }
}

.css-16xl4zq-MuiTypography-root {
  color: rgb(12, 68, 35);


}