@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer {
  position: relative;
  @include flexbox(column, center, center);
  padding: 1rem 2rem;
  width: 100vw;
  gap: 0.6rem;
  border-top: solid 1px green;
  background-color: rgba(244, 240, 240, 0.9);

  z-index: 
  3000;

  @media (max-width: 1300px) {
    background-color: rgb(244, 240, 240);
  }

  &__logo_container {
    @include flexbox(row, center, center);
    text-align: center;

    .mambyLy-logo {
      margin: 0 auto;
    }
  }
}

@media (max-width: 545px) {
  .footer {
    width: 100%;
    padding: 1rem 0.5rem;
  }
}

.copyright {
  font-size: 0.8rem;

  @media (max-width: 545px) {
    font-size: 0.6rem;
  }
}

.footer--visible {
  opacity: 1;

  transform: translateY(0);
}

.overlay {
  position: fixed;
  top: 145px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-color: rgba(106, 200, 164, 0.01);
  backdrop-filter: blur(3px);
  z-index: 2000; 
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay.visible {
  opacity: 1;
  
}
