@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer {
  @include flexbox(column, center, center);
  padding: 1rem 2rem;
  margin: auto;
  width: 100vw;
  gap:0.6rem;
 border-top: solid 1px green;
 background-color: rgba($background-color, 0.55);
 z-index: 100;

  

  &__logo_container {
    @include flexbox(row, center, center);
    text-align: center;

    .mambyLy-logo {
        margin: 0 auto;
    }
  }
}



@media (max-width: 545px) {
  .footer {
width: 100%;
padding: 1rem 0.5rem;
}
}