@use "../../styles/globals" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.contact-box {
  @include flexbox(column, center, center);
  background-color: rgba(243, 246, 244, 0.888);
  text-align: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;

  @media (min-width: 2560px) {
    gap: 3rem;
  }
}

.contact-box .MuiList-root {
  @include flexbox(row, center, center);
  padding: 0;
  width: 100%;
 

  @media (max-width: 545px) {
    @include flexbox(column, center, center);
  }
}

.contact-box .MuiListItem-root {
  @include flexbox(row, center, center);
  padding: 0.5rem 0;
  
  
 
}

.contact-box .MuiListItemText-root {
  text-align: center;
  
}

.contact-box .MuiGrid-container {
  width: 60%;
}

.list_items {
  color: rgb(24, 164, 66);
}